# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
*.egg
*.egg-info/
.venv
venv/
ENV/
env/
ENV/
pythonenv/
*venv/
*env/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Project Logic
logs/*.csv
!logs/.gitkeep

# Byte-compiled / Optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
logs/crash.log
src/magic8ball/__pycache__/config.cpython-310.pyc
src/magic8ball/__pycache__/config.cpython-311.pyc
src/magic8ball/__pycache__/editor.cpython-311.pyc
src/magic8ball/__pycache__/gpio_button.cpython-310.pyc
src/magic8ball/__pycache__/gpio_button.cpython-311.pyc
src/magic8ball/__pycache__/ui.cpython-310.pyc
src/magic8ball/__pycache__/ui.cpython-311.pyc
