[Desktop Entry]
Type=Application
Name=Magic 8 Ball
Comment=Run Magic 8 Ball
Exec={{ install_dir }}/.venv/bin/python -m src.main
Path={{ install_dir }}
Icon=utilities-terminal
Terminal=false
Categories=Game;Utility;
