[Desktop Entry]
Type=Application
Name=Update Magic 8 Ball
Comment=Git Pull and Restart
Exec={{ install_dir }}/scripts/update.sh
Path={{ install_dir }}
Icon=system-software-update
Terminal=true
Categories=Utility;System;
